.grids {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.a {
    background-image: url("../img/sample1.jpeg");
}

.b {
    background-image: url("../img/sample2.jpeg");
}

.c {
    background-image: url("../img/sample3.jpeg");
}

.d {
    background-image: url("../img/sample4.jpeg");
}

.e {
    background-image: url("../img/sample5.jpeg");
}

.f {
    background-image: url("../img/sample6.jpeg");
}