@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&family=Pacifico&display=swap");

.wedding1 {
  background-image: url("./wedding.jpeg");
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.path {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 3px;
}

.content2 {
  background-color: #f1f1f1;
}

.content3 {
  background-color: #000;
}

.path2 {
  stroke: #000;
}

.content3 {
  background-image: url("./newzealand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content4 {
  background-color: #1a1a1a;
}

.footer {
  height: 30vh;
  background-color: #000;
}

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}
